body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(45deg, #FF9A9E, #FAD0C4, #FFECB3, #FFC107, #FF7043);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #7b1fa2;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #8e24aa;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #7b1fa2;
}

#status, #balance, #nfts, #points {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

#points {
  font-size: 18px;
  font-weight: bold;
}

.nft {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.nft img {
  border-radius: 8px;
}
